* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .5s;
}

:root {
    --primary: #88B44E;
    --secondary: #FB9F38;
    --light: #F5F8F2;
    --dark: #252C30;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #252c30;
    background-color: #fff;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-weight: 900;
    line-height: 1.2;
}

p {
    display: block;

}

h5 {
    display: block;
    font-weight: bold;
}


/* navbar*/
.sticky-top {
    top: -150px;
    transition: .5s;
}

.navbar .navbar-brand {
    position: absolute;
    padding: 0;
    width: 170px;
    height: 130px;
    top: 0;
    left: 0;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 25px 0;
    color: var(--dark);
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #88B44E;
}

.navbar .dropdown-toggle::after {
    border: none;
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width:991.98px) {
    .navbar .navbar-brand {
        width: 126px;
        height: 100px;
    }

    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        margin-top: 75px;
        border-top: 1 solid #EEEE;
    }
}

@media (min-width:992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;

    }

    .navbar .dropdown-item:hover {
        color: #88B44E;
    }
}

/*end navbar*/
.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.display-6 {
    font-weight: 800;
    line-height: 1.2;
}

.text-primary {
    color: #88b44e !important;
}

.section-title {
    position: relative;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
}

/* .section-title::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--primary);
}
.section-title::after {
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    bottom: -13px;
    left: calc(25%-13%);
    background: var(--dark);
    border: 10px solid #ffff;
    border-radius: 28px;
}
.section-title.text-center::before{
    left: 25%;
}
.section-title.text-center::after{
    left: calc(50%-13px);
} */

.page-header {
    background: linear-gradient(rgba(136, 180, 78, .7), rgba(136, 180, 78, .7)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item::before,
.breadcrumb-item,
.breadcrumb-item a {
    font-size: 18px;
    color: var(--light);
    text-decoration: none;
}


/*FOOTER*/



footer {
    background-color: #333;
}

footer a {
    text-decoration: none;
}


footer ul {
    list-style-type: none;
    padding: 0;
}

#copyright {
    background-color: rgb(41, 39, 39);
}

#footer h3 {
    color: #88b44e !important;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 20px;
}

#footer h5 {
    color: #88b44e !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding-right: 10px;
}

#footer p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgb(226, 222, 222);
}

#footer a p {
    text-decoration: none;
}

#footer a p:hover {
    color: white;
    transition: ease-out;
}

#footer i {
    color: #88b44e;
}

#footer .quick-links li a {
    display: inline-block;
    color: rgb(226, 222, 222);
    transition: color 0.3s, transform 0.3s;
    text-decoration: none;
}

#footer .quick-links li a:hover {
    color: white;
    transform: scale(1.1);
    text-decoration: none;
}

#footer .mail-box {
    position: relative;
    margin-bottom: 20px;
    margin-top: 40px;
    width: 230px;
}

#footer .mail-box input {
    width: 100%;
    height: 50px;
    padding: 10px 40px 10px 10px;
    border: 1px solid rgb(241, 238, 238);
    background-color: #343a40 !important;
    border-radius: 5px;
}

#footer .mail-box input::placeholder {
    color: #bdbdbd;
    font-size: 14px;
    padding-left: 10px;
}

#footer .mail-box button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color 0.3s ease;
    color: white;
    font-family: monospace;
    font-size: 16px;
}

#footer .socila_media {
    padding-top: 10px;
}

#footer .socila_media li {
    display: inline;

}

#footer .socila_media p {
    display: inline-block;
    position: absolute;
    color: #434345;
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
}


#footer .socila_media i {
    color: white;
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
    text-transform: none;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    background-color: #88b44e;
}



@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Add this for the delay animations */
.store-item {
    opacity: 0;
    transform: translateY(150px);
}

/* Apply different delays to each store item */
.store-item.animate-delay-0 {
    animation: slideInDown 2s ease forwards;
}

.store-item.animate-delay-1 {
    animation: slideInDown 2s ease forwards;
    animation-delay: 1s;
}

.store-item.animate-delay-2 {
    animation: slideInDown 2s ease forwards;
    animation-delay: 2s;
}
