
*
{
padding:0;
margin:0;
box-sizing:border-box;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    flex: 1;
}

/* navbar*/
.sticky-top {
    top: -150px;
    transition: .5s;
}

.navbar .navbar-brand {
    position: absolute;
    padding: 0;
    width: 170px;
    height: 130px;
    top: 0;
    left: 0;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 25px 0;
    color: var(--dark);
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: #88B44E;
}

.navbar .dropdown-toggle::after {
    border: none;
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width:991.98px) {
    .navbar .navbar-brand {
        width: 126px;
        height: 100px;
    }

    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        margin-top: 75px;
        border-top: 1 solid #EEEE;
    }
}

@media (min-width:992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;

    }

    .navbar .dropdown-item:hover {
        color: var(--success);
    }
}

/*store*/

.store-item .store-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(138, 180, 78, .3);
    opacity: 0;
    transition: .5s;
}

.store-item:hover .store-overlay {
    opacity: 1;
}
.store-overlay a i {
    color: white;
}

h1{
    font-family: "Playfair Display",serif;
    font-weight: 600;
 }
 .text-dark {
    color: #252c30 !important;
}
.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: white;
}

.page-header {
    background: linear-gradient(rgba(136, 180, 78, .7), rgba(136, 180, 78, .7)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}
.page-header ol.breadcrumb {
    background: none;
    padding: 0; /* Optional: Remove default padding */
}
.section-title {
    opacity: 0;
    transform: translateY(150px);
    animation: slideInDown 1s ease forwards;
}


/* Slide in animation for the store items 
.store-item {
    opacity: 0;
    transform: translateY(150px);
    animation: slideInDown 3s ease forwards;
}
*/
.store {
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Add this for the delay animations */
.store-item {
    opacity: 0;
    transform: translateY(150px);
}

/* Apply different delays to each store item */
.store-item.animate-delay-0 {
    animation: slideInDown 2s ease forwards;
}

.store-item.animate-delay-1 {
    animation: slideInDown 2s ease forwards;
    animation-delay: 1s;
}

.store-item.animate-delay-2 {
    animation: slideInDown 2s ease forwards;
    animation-delay: 2s;
}

.view {
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInUp 1s ease forwards;
    animation-delay: 3s;
}






/*Footer*/



footer {
    background-color: #333;
}
   
footer a {
    text-decoration: none;
}
   
   
footer ul {
    list-style-type: none;
    padding: 0;
}
#copyright{
       background-color: rgb(41, 39, 39); 
}
 
   h3{
       color: #88b44e !important;
       margin-top: 0;
       margin-bottom: 0.5rem;
       font-family: "Playfair Display",serif;
       font-weight: 700;
       line-height: 1.2;
       padding-bottom: 20px;
   }
   h5{
    color: #88b44e !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding-right: 10px;
   }
   p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: rgb(226, 222, 222);
}

 a p {
    text-decoration: none;
}

a p:hover{
  color: white;
  transition: ease-out;
}

i {
    color: #88b44e;
}

.quick-links li a {
    display: inline-block;
    color: rgb(226, 222, 222);
    transition: color 0.3s, transform 0.3s;
    text-decoration: none; 
}

.quick-links li a:hover {
    color: white;
    transform: scale(1.1);
    text-decoration: none; 
}

.mail-box {
    position: relative;
    margin-bottom: 20px;
    margin-top: 40px;
    width: 230px;
}

.mail-box input {
    width: 100%;
    height: 50px;
    padding: 10px 40px 10px 10px; 
    border: 1px solid rgb(241, 238, 238);
    background-color: #343a40!important;
    border-radius: 5px;
}

.mail-box input::placeholder {
    color: #bdbdbd;
    font-size: 14px;
    padding-left: 10px;
}

.mail-box button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color 0.3s ease;
    color: white; 
    font-family: monospace; 
    font-size: 16px;
}

.socila_media{
    padding-top: 10px;
}

.socila_media li {
    display: inline;

}

.socila_media p {
    display: inline-block;
    position: absolute;
    color: #434345;
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
}


.socila_media i {
    color:white;
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
    text-transform: none;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    background-color: #88b44e;
}